.btn {
  @apply font-secondary inline-block border px-5 py-2.5 font-bold transition;
}

.btn-primary {
  @apply bg-primary text-white rounded-[50px] px-8 py-2.5  relative border-0 overflow-hidden h-12;

  &::before {
    @apply content-[''] absolute  h-full right-0  bg-black/5 w-0 top-0 transition-all duration-500 rounded-[50px] ease-[cubic-bezier(.42,0,.58,1)];
  }

  &:hover {
     &::before {
      @apply w-full right-auto left-0;
    }
  }
}

.btn-outline-primary {
  @apply border-primary bg-transparent hover:bg-primary hover:text-white  rounded-[50px] text-primary font-bold relative transition-all ease-[cubic-bezier(.42,0,.58,1)] duration-75 overflow-hidden h-12;

  &::before {
    @apply content-[''] absolute  h-full right-0  bg-black/5 w-0 top-0 transition-all duration-500 rounded-[50px];
  }

  &:hover {
     &::before {
      @apply w-full right-auto left-0;
    }
  }
}
/*QUICES  */
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-indent: 20px; /* Ajusta el valor de la sangría según tus necesidades */}

.body {
  margin: 0;
  color: #fff;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app2 {
  background-color:#d6eee7;
  max-width: 1200px;
  min-width: 1000px;
  height: 300px;
  min-height: 100px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  margin-top: auto;
}

/* PREGUNTAS */
.lado-izquierdo2 {
  font-size: 25px;
  width: 100%;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pregunta-numero {
  margin-bottom: 20px;
}

.pregunta-numero span {
  font-size: 28px;
}

.pregunta-titulo {
  margin-bottom: 12px;
}

.lado-derecho2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

/* QUIZ PEREGUNTAS estilos  */
.juego-terminado {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
}

/* GRAL */
button {
  width: auto;
  font-size: 18px;
  color: #ffffff;
  background-color: #2EA684;; /* Verde turquesa */
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff70; /* Blanco */
  cursor: pointer;
  text-align: center;
}

.tiempo-restante {
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}

.correct,
.correct:hover {
  background-color: #2f922f; /* Verde más oscuro */
}

.incorrect,
.incorrect:hover {
  background-color: #ff3333; /* Rojo */
}

.btns-container {
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  background-color: #ffffff; /* Blanco */
  color:#2EA684;/* Verde turquesa */
}

button[disabled] {
  background-color: #818181; /* Gris */
  color: #ffffff;
  cursor: not-allowed;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.app3 {
  background-color: #f4faf800;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 650px;
  min-width: 450px;
  height: min-content;
  min-height: 200px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}
