@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}


.card-game {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  perspective: 800px;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.matched {
  background-color: #aaffaa;
  cursor: default;
}

.card-front,
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #f2f2f2;
}

.card-back {
  background-color: #e0e0e0;
  transform: rotateY(180deg);
}

.card span {
  font-size: 48px;
}

.quiz {
  text-align: center;
  padding: 20px;
}

.question-section {
  margin-bottom: 20px;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer-option {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.score-section {
  font-size: 20px;
}

.comment-content {
  word-wrap: break-word;
}




//-------------- comentarios
.comment-container {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  background-color: #f4faf8;
  border-radius: 8px;
  margin-bottom: 10px;
}

.comment-container .avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: flex;
  margin-right: 10px;
}

.comment-container .comment-content {
  flex: 1;
}

.comment-container .comment-username {
  margin-bottom: 5px;
}

.comment-container .reply-info {
  margin-bottom: 5px;
}

.comment-container .comment-text {
  margin-bottom: 10px;
}

.comment-container .comment-actions {
  display: flex;
  gap: 10px;
}

/* Otros estilos CSS que desees aplicar */
/* tic tack*/
.tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  font-size: 32px;
  color: black;
  cursor: pointer;
}

.winner {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.draw {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.reset {
  background-color: #008cba;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset:hover {
  background-color: #006b8c;
}


.my-title-style {
  color: green;
}

.my-content-style {
  color: white;
}

.my-confirm-button-style {
  background-color: green;
}




.body {
  margin: 0;
  color: #fff;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app2 {
  display: block;
  background-color: #e3e4e7;
  max-width: 700px;
  min-width: 450px;
  height: min-content;
  min-height: 200px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(101, 214, 202, 0.75);
  display: flex;
  justify-content: space-evenly;
}

/* PREGUNTAS */
.lado-izquierdo2 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pregunta-numero2 {
  margin-bottom: 20px;
}

.pregunta-numero2 span {
  font-size: 28px;
}

.pregunta-titulo2 {
  margin-bottom: 12px;
}

.lado-derecho2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* FINALIZADO */
.juego-terminado2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 34px;
  align-items: center;
}

/* GRAL */
.button2 {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #030304;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #cad0cf;
  cursor: pointer;
}

.tiempo-restante {
  font-size: 34px;
  color: #fc3d3d;
  margin-bottom: 50px;
}

.correct,
.correct:hover {
  background-color: #2abc2a;
}

.incorrect,
.incorrect:hover {
  background-color: #f60707;
}

.btns-container {
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  background-color: #e6ebf0;
}

button[disabled] {
  background-color: #2d9780;
  color: #ffffff;
  cursor: not-allowed;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

//------ juegos

.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 5px;
}

.row {
  display: flex;
}

.candy {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}



///
/* quiz.css */


.quiz-container {
  width: 25rem;
  max-width: 30rem;
  margin: 0 auto;
  padding: 10 auto;
}

.question {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(4, 4, 4);

}
.options {
  list-style-type: none;
  padding: 0;
}

.option {
  margin-bottom: 0.5rem;
  color: rgb(255, 251, 251);

}

.option input[type="radio"] {
  margin-right: 0.5rem;
}

.submit-button {
  background-color: #46b4a2;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}


//f
.card {
  display: inline-block;
  margin: 5px;
  height: calc(200px);
  width: calc(250px);
  cursor: pointer;
}

.cards-container {
  width: 1000px;
  height: 600px;
}

.card:hover {
  transform: scale(0.98);
}

.card-image {
  height: calc(200px - 10px);
  width: calc(250px - 10px);
}


/*navegacion*/
.active {
  font-weight: bold;
  color: blue;
  font-size: 1rem;
  font-family: "Arial", sans-serif;
  /* Cambia "Arial" por el nombre de la fuente deseada */

}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 5px;
}

.breadcrumbs a {
  cursor: pointer;
  text-decoration: none;

  color: #2EA684;
  /* Verde turquesa */
  /* Agrega aquí el color que deseas */
  font-size: 1rem;
  /* Ajusta el tamaño de letra según tus necesidades */
  font-family: "Arial", sans-serif;
  /* Cambia "Arial" por el nombre de la fuente deseada */

}

.breadcrumbs span {
  font-weight: bold;
  color: blue;
  /* Agrega aquí el color que deseas */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #fff;
  border: none;
  color: #555;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #555;
  color: #fff;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*quiz*/

.option {
  display: block;
  margin-bottom: 10px;
  width: 25rem;
  height: 2.5rem;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(25, 208, 232);
  cursor: pointer;
  transition: transform 0.3s;
}

.option:hover {
  transform: scale(1.1);
}

.selected {
  background-color: rgb(89, 159, 163);
}

.next-button {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #34D399;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #2DAF92;
}

.next-button.disabled {
  background-color: rgb(37, 109, 86);
  cursor: not-allowed;
}

.result-container {
  margin-top: 20px;
}

.result-title {
  font-weight: bold;
  font-size: 20px;
}

.result-text {
  margin-top: 10px;
}

.reset-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FF5722;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: #E64A19;
}
.option.correct {
  /* Estilos de opción correcta */
  background-color: #03f52b;
  color: #FFF;
}

.option.incorrect {
  /* Estilos de opción incorrecta */
  background-color: #EF4444;
  color: #FFF;
} .option.review {
  /* Estilos de opción en modo de revisión */
  pointer-events: none;
}

/*audio*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
//titulo del audio
:root {
  --mainColor: #fff;
  --mainLightColor: rgba(167, 0, 0, 0.5);
  --mainDimColor: rgb(40, 174, 91);
}

.backgroundVideo {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  object-fit: cover;
  height: 100vh;
  z-index: -1;
  filter: saturate(2.5);
}

.blackScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  pointer-events: none;
  background-color: rgba(29, 204, 204, 0.2);
}

.card2 {
  display: inline-block;
  margin: 5px;
  height: 250px;
  width: 300px;
  background-color: rgba(29, 204, 204, 0.2);
  cursor: pointer;
}

.music-Container {
  width: 350px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 36px;
  box-shadow: 0 0 20px rgba(26, 26, 26, 0.1),
    0 0 40px rgba(26, 26, 26, 0.1),
    0 0 80px rgba(26, 26, 26, 0.1);
  backdrop-filter: blur(15px);
  font-weight: 900;
  background-color: rgba(29, 204, 204, 0.2);
}

.musicPlayer {
  margin: 0;
  margin-bottom: 10px;
  color: var(--mainLightColor);
  background-color: rgba(29, 204, 204, 0.2);
}

.music-Head-Name {
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

.music-Artist-Name {
  color: var(--mainDimColor);
  margin: 3px 0;
  font-size: 1rem;
  font-weight: 400;
}

#songAvatar {
  width: 100px;
  height: 100px;
  border-radius: 0%;
  margin: 18px 0;
  position: relative;
  cursor: pointer;
  animation: animateAvatar 0.5s linear infinite;
}

@keyframes animateAvatar {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}

.musicTimerDiv {
  display: flex;
  justify-content: space-between;
  width: 50%;
  font-weight: 600;
}

.musicProgressBar {
  width: 50%;
  margin-bottom: 16px;
  height: 10px;
  border-radius: 5px;
  outline: none;
  filter: hue-rotate(20deg);
}

.playBtn {
  font-size: 32px;
  margin: 8px 10px;
  color: var(--mainColor);
  cursor: pointer;
  font-weight: 400;
}

.musicControler {
  cursor: pointer;
  font-size: 12px;
  color: var(--mainColor);
  width: 20px;
  height: 20px;
}

.changeBackBtn {
  width: 200px;
  height: 15px;
  background-color: #eee;
  position: absolute;
  border-radius: 12px 12px 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: 0.3s;
  color: #eee;
  cursor: pointer;
  padding: 3px 0 0 0;
  font-weight: 600;
  text-align: center;
}

.changeBackBtn:hover {
  height: 30px;
  color: #222;
}

.objectFitCover {
  object-fit: cover;
}

.objectFitContain {
  object-fit: contain;
}

.musicControler {
  font-size: 24px;
  color: #000;
  cursor: pointer;
  margin: 0 5px;
}

/* Estilos responsive */

@media (max-width: 768px) {
  .backgroundVideo {
    width: 100%;
  }

  .card2 {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .music-Container {
    width: 100%;
  }

  .musicPlayer {
    font-size: 1rem;
  }

  .musicTimerDiv {
    width: 100%;
  }

  .musicProgressBar {
    width: 100%;
  }

  .playBtn {
    font-size: 24px;
  }

  .musicControler {
    font-size: 18px;
  }

  .changeBackBtn {
    width: 100%;
  }
}
