@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}


.card-game {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  perspective: 800px;
  transition: transform 0.5s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.matched {
  background-color: #aaffaa;
  cursor: default;
}

.card-front,
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #f2f2f2;
}

.card-back {
  background-color: #e0e0e0;
  transform: rotateY(180deg);
}

.card span {
  font-size: 48px;
}
.quiz {
  text-align: center;
  padding: 20px;
}

.question-section {
  margin-bottom: 20px;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer-option {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.score-section {
  font-size: 20px;
}

.comment-content {
  word-wrap: break-word;
}




//--------------
.comment-container {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  background-color: #f4faf8;
  border-radius: 8px;
  margin-bottom: 10px;
}

.comment-container .avatar-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.comment-container .comment-content {
  flex: 1;
}

.comment-container .comment-username {
  margin-bottom: 5px;
}

.comment-container .reply-info {
  margin-bottom: 5px;
}

.comment-container .comment-text {
  margin-bottom: 10px;
}

.comment-container .comment-actions {
  display: flex;
  gap: 10px;
}

/* Otros estilos CSS que desees aplicar */
/* tic tack*/
.tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  font-size: 32px;
  color: black;
  cursor: pointer;
}

.winner {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.draw {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.reset {
  background-color: #008cba;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset:hover {
  background-color: #006b8c;
}


.my-title-style {
  color: green;
}

.my-content-style {
  color: white;
}

.my-confirm-button-style {
  background-color: green;
}




.body {
  margin: 0;
  color: #fff;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app2 {
  background-color: #246d51;
  max-width: 700px;
  min-width: 450px;
  height: min-content;
  min-height: 200px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(236, 228, 228, 0.75);
  display: flex;
  justify-content: space-evenly;
}

/* PREGUNTAS */
.lado-izquierdo2 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pregunta-numero2 {
  margin-bottom: 20px;
}

.pregunta-numero2 span {
  font-size: 28px;
}

.pregunta-titulo2 {
  margin-bottom: 12px;
}

.lado-derecho2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* FINALIZADO */
.juego-terminado2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
}

/* GRAL */
.button2 {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #c6c9d4;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #218179;
  cursor: pointer;
}

.tiempo-restante {
  font-size: 14px;
  color: #fc3d3d;
  margin-bottom: 50px;
}

.correct,
.correct:hover {
  background-color: #2f922f;
}

.incorrect,
.incorrect:hover {
  background-color: #ff3333;
}

.btns-container {
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  background-color: #e6ebf0;
}

button[disabled] {
  background-color: #2d9780;
  color: #ffffff;
  cursor: not-allowed;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
